body{
	background-color: #090921;
	font-family: calibri;
}
header{
}
div{
	display: inline-block;
}
a{
	text-decoration: none;
	color: white;
}
button{
	outline: none;
}
.icon{
	color: white;
	cursor: pointer;
}
.one{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header-left{
	width: 40%;
	margin-left: 6%;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.margin-r{
	margin-right: 10px;
}
#logo{
	display: flex;
	align-items: center;
}
#logo i{
	font-size: 350%;
	color: white;
}
#logo #studio-name{
	font-size: 150%;
	color: white;
	width: 40%;
	margin-left: 1%;
}
#favourite{
	box-sizing: border-box;
}
#favourite a{
	font-size: 120%;
	color: white;
	text-decoration: none;
	box-sizing: border-box;
}
.queue{
display: none;
}
.back{
	display: none;
}
.header-right{
	display: flex;
	flex-wrap: nowrap;
	width: 45%;
}
.search{
	display: flex;
	width: 60%;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center ;
}
.search-content{
	padding:0px;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search .icon{
	background-color: #1f2961;
	height: 100%;
	width: 10%;
	font-size: 100%;
    padding:auto;
    padding-top: 5px;
    padding-left: 2px;
	margin: 0px;
	box-sizing: border-box;
}
.search input{
	background: #1f2961;
	font-size: 100%;
	border:none;
	box-sizing: border-box;
	width: 80%;
	height: 100%;
	padding: 0px;
	padding-left: 5px;
	color: white;
}
.search input:focus{
outline: none;
}
.search .fa-search{
	border-radius: 20% 0% 0% 20%;
}
.search .fa-microphone{
	border-radius: 0% 20% 20% 0%;
}

.notification{
	display: flex;
	justify-content: space-around ;
	align-items: center;
	width: 35%;
}
.notification .icon{
	font-size: 190%;
	box-sizing: border-box;
}
.notification #my-pic{
	width: 35%;
	border-radius: 50%;
	box-shadow: 0px 0px 1px 2px grey;
}
main{
	display: flex;
}
.main-content{
	width: 65%;
	margin:3% 0% 0% 6%;
}
.trending{
	display: flex;
	justify-content: space-around;
}
.trending img{
	width: 32%;
	transition:all;
	transition-duration: 0.3s;
}
.trending img:hover{
	filter: brightness(150%);
	transform: scale(1.1);
	cursor: pointer;
}

.latest-release{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    color: white;
    font-size: 1.3rem;
}
h2{
	margin-top: 3rem;
}

.card{
	position: relative;
	width: 48%;
	display: flex;
	margin-bottom: 1em;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: space-around;
}
.latest-image{
	position: relative;
	width: 30%;
}
.latest-image img{
width: 100%;
height: 100%;
}
.fa-play{
	position: absolute;
	left: 40%;
	top: 30%;
	opacity: 0;
	font-size: 2.3rem;
}
.latest-image:hover .fa-play{
	cursor: pointer;
	opacity: 1;
}
.latest-detail{
	width: 60%;

}
.latest-top{
	display: flex;
	justify-content: space-between;
	margin-top:12%;
}
.latest-top button{
	background-color: transparent;
	border:none;
	color: white;
	cursor: pointer;
	font-size: 1.2rem;
}
.latest-top button:focus ul{
	opacity: 1;
}
.latest-bottom{
	display: flex;
	justify-content: space-between;
	margin-top:7%;
}
.fa-ellipsis-h ul{
	opacity: 0;
	cursor: pointer;
	position: absolute;
	background-color: #fff;
	width: 50%;
	padding: 0px;
	text-align: left;
	left:50%;
	font-size: 1rem;
	top: 25%;
}
.fa-ellipsis-h li{
	padding: 4px;
	color: black;
	cursor: pointer;
	list-style: none;

}
.fa-ellipsis-h ul li i{
	color: black;
}
.current-playing{
	position: fixed;
	visibility: hidden;
	bottom: 0%;
	background-color: #2d2929ed;
	color: white;
	font-family: calibri;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 7.5rem;
	z-index: 2;
}
.current-playing:target{
	visibility: visible;
}
.curr-left{
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 140%;
}
.curr-image{
	width: 30%;
	height: 100%;
}
.curr-image img{
	width: 100%;
	height: 100%;
}
.curr-name-1{
}
.curr-name-2{
	display: block;
}
.curr-mid div{
	display: block;
}
.curr-mid{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mid-top{
	font-size: 200%;
}
.mid-bottom{
	font-size: 200%;
}
.mid-bottom input{
	width: 10rem;
}
.curr-right{
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 200%;      
}
.popular-artists{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.artist{
	position: relative;
	width: 14%;
	padding-bottom: 0px;
}
.artist img{
	width: 100%;
	text-align: center;
	border-radius: 50%;
}
.artist p{
	font-size: 120%;
	color: white;
	text-align: center;
}
.station{
	width: 100%;
	display: flex;
	margin-top: 3rem;
	justify-content: space-between;
	font-size: 130%;
	font-weight: 900;
	background-color: #081352;
	padding:  4% 2%;
	border-radius: 20px;
	box-sizing: border-box;

}
.station-individual{
	text-align: center;
	color: black;
	text-shadow: 0px 0px 4px 10px green;
	width: 13%;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5% 1%;
	padding-bottom: 2%;
    cursor: pointer;
	opacity: 0.8;
}
.station p{
	color: white;
	text-shadow: 3px 3px  black;
	font-weight: bolder;
	opacity: 1 !important;
	margin: 0px;
	padding-bottom: 0px;
}
.sta-1{
	background-image: url("images/station-0.jpg");
}
.sta-2{
	background-image: url("images/station-1.jpg");
}
.sta-3{
	background-image: url("images/station-2.jpg");
}
.sta-4{
	background-image: url("images/station-3.jpg");
}
.sta-5{
	background-image: url("images/station-4.jpg");
}
.sta-6{
	background-image: url("images/station-5.jpg");
}
.mood{
	margin-top: 3rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}
.mood-individual{
	position: relative;
   width: 30%;
   height: 10rem;
   color: white;
   font-size: 200%;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}
.mood img{
	width: 100%;
	height: 100%;
	transition: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}
.mood img:hover{
	transform: scale(1.5);
}
.mood p{
	position: absolute;
	top:10%;
	left: 30%;
	text-shadow: 1px 1px black;
	font-weight: bolder;
}
.latest-english{
	display: flex;
	justify-content: space-around;
	margin-bottom: 3rem;
}
.latest-en-individual{
	width: 14%;
	color: white;
	cursor: pointer;
}
.latest-en-individual img{
	filter: brightness(130%);
	width: 100%;
}
.latest-en-individual p{
	padding: 0px;
	margin: 0px;
}
#q-song-name{
	font-weight: bolder;
}
.heart{
	font-size: 1.6rem;
}
.heart:hover{
	color: red;
	cursor: pointer;
}

.queue-content{
	display: inline-block;
	width: 25%;
	height: 650px;
	overflow: scroll;
	margin:3% 0% 0% 1%;
	padding: 0px;
	padding-right: 20px;
	font-size: 1.1rem;
	background-color: #090921;
	z-index: 2;

}
.queue-top{
	position: sticky;
	top: 0%;
	width: 95%;
	text-align: center;
	padding: 0px 10px;
	display: flex;

	color: white;
	justify-content: space-around;
	text-align: center;
	z-index: 10%;
	background-color: #090921;

}
.queue-top h1{
	padding: 0px;
	margin: 0px;
	font-size: 2.5rem;
}
.queue-top button{
	cursor: pointer;
	background: transparent;
	border:none;
	color: #58b6e0;
	font-size: 1.2rem;
	position: relative;
}
.queue-top button:focus{
	outline: none;
}
.fa-chevron-down ul{
	padding:0px;
	width: 9rem;
	position: absolute;
	left: -40%;
	background-color: white;
}
.queue-top ul{
	display: none;
}
.queue-bottom{
	cursor: pointer;
}
.queue-top button:focus ul{
	display: block;
}
.fa-chevron-down li{
	color: black;
	padding:0.5rem 0rem;
	list-style: none;
}

.queue-individual{
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.queue-individual .queue-image{
	width: 25%;
	margin-right: 2%;
}
.queue-individual .queue-image img{
	width: 100%;
	height: 100%;
}
.queue-name p{
	padding:0px;
	margin:0px;
	text-align: left;

}
.queue-left{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 80%;
	padding: 0px;
}
::-webkit-scrollbar{
  width: 0.5rem;
}


::-webkit-scrollbar-track{
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
  border-radius: 11px;
  background:  #1f2961; 
}
/* ----------------------------------------------------------------------- */

@media screen and (max-width: 1100px){
	main{
		position: relative;
	}
	.queue-content{
		display: none;
		text-align: center;
	}
	.queue-content:target{
	display: block;
    width: 96%;
    height: auto;
    z-index: 2;
    background-color: #090921;
    position: absolute;
    left: 0%;
    top: -1%;
	}
	
	.queue-bottom {
		font-size: 1.3rem;
	}
	/*
	.queue-content{
		position:absolute;
		top: -10%;
		display: none;
		width: 95%;
	    height: 317%;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: auto;
	    padding-right: auto;

	}
		.queue-content p{
		margin-left: 20px;
		height: 100%;
		width: 120%;
		font-size: 105%;
	}
	.queue-content:target{
		display: block;
		text-align: center;
		top:10%;
		right: 1%;
	}
*/	
	.fav-main{
		position: absolute;
     display: none;
	}
	
	.heart{
		font-size: 200%;
	}

	.queue{
		margin-left: -40px;
	}
	.queue,
	.back{
		display: inline-block;
	}
	.main-content{
		width: 100%;
		margin: 2%;
		font-size: 1.3rem;
	}
	.header-left{
		font-size: 1.2rem;
	}
	.popular-artists{
		font-size: 0.8rem;
	}
	.current-playing{
		font-size: 0.7rem;
	}
}
@media screen and (max-width: 900px){
	.current-playing{
		font-size: 0.7rem;
	}
	.curr-mid,
	{
		font-size: 0.5rem;
	}
	.curr-mid input{
		width: 8rem;
	}
	.curr-right input{
		width: 5rem;
	}
}
@media screen and (max-width: 800px){
	
	.notification #my-pic{
		width: 3rem;
	}
	.notification .fa-bell{
		font-size: 1.2rem;
	}
	.popular-artists .artist{
		width: 16%;
	}
	.station p{
		font-size: 1.4rem;
	}
	.mood{
		font-size: 1rem;
	}
	.latest-english{
		font-size: 1rem;
	}
	#favourite{
		font-size: 1rem;
	}
}

@media screen and (max-width: 700px){
	.header-left{
		width: 40%;
	}

	.header-right img{
		width: 10rem;
	}
	.queue{
		margin-left: 0px;
	}
	.current-playing{
		height: 100px;
	}
	.curr-mid{
		font-size: 80%;
	}
	.latest-release{
		font-size: 1.2rem;
	}
	.station{
		padding: auto;
		font-size: 0.2rem;
	}
	.station p{
		font-size: 1rem;
	}
	.artist{
		width:16%;
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 600px){
	.main-content{
		font-size: 1rem;
	}
 .header-left #logo{
    font-size: 1rem;
 }
 .latest-release{
 	font-size: 1rem;
 }
 .curr-mid input{
 	width: 4rem;
 }
 .curr-left .curr-image{
 	width: 70%;
 }
 .curr-right{
 	font-size: 0.8rem;
 	justify-content: center;
 }
 .curr-right input{
 	width: 40%;
 }
 .mood{
 	font-size: 0.8rem;
 }
 .station{
 	padding-left: 2px;
 	padding-right: 2px;
 }
 .station-individual{
 	width: 16%;
	font-size: 0.8rem;
}
.station p{
	font-size: 150%;
}
}

@media screen and (max-width: 580px){
	header{
		width: 560px;
	}
	.queue{
		font-size:0.5rem;
	}

	.trending{
		height: auto ;
	}
	body{
		width:560px;
	}
	.curr-mid input{
 	        width: 3rem;
        }
}



